
<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>





<div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/closed-pouches" title="Browse our Closed Pouches collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Closed Pouches</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ost_18353_new_image_closed_mini_pouch_no_filter_back_0019_480x480.jpg?v=1625696655" alt="Closed Pouches" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/closed-pouches" title="Browse our Closed Pouches collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Closed Pouches</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ost_18353_new_image_closed_mini_pouch_no_filter_back_0019_420x.jpg?v=1625696655" alt="Closed Pouches" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/drainable-pouches" title="Browse our Drainable Pouches collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Drainable Pouches</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/10_480x480.jpg?v=1625696555" alt="Drainable Pouches" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/drainable-pouches" title="Browse our Drainable Pouches collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Drainable Pouches</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/10_420x.jpg?v=1625696555" alt="Drainable Pouches" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/10_640x.jpg?v=1625696555 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/10_720x.jpg?v=1625696555 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/10_900x.jpg?v=1625696555 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/barriers" title="Browse our Barriers - Ostomy collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Barriers - Ostomy</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ost_11202_ceraplus_skin_barrier_front_0007_480x480.jpg?v=1625696422" alt="Barriers - Ostomy" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/barriers" title="Browse our Barriers - Ostomy collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Barriers - Ostomy</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ost_11202_ceraplus_skin_barrier_front_0007_420x.jpg?v=1625696422" alt="Barriers - Ostomy" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/kits-2" title="Browse our Kits - Ostomy collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Kits - Ostomy</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AC175264l_480x480.jpg?v=1625696318" alt="Kits - Ostomy" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/kits-2" title="Browse our Kits - Ostomy collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Kits - Ostomy</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AC175264l_420x.jpg?v=1625696318" alt="Kits - Ostomy" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
  <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/fecal-management" title="Browse our Fecal Management collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Fecal Management</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/722218_480x480.jpg?v=1625696063" alt="Fecal Management" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/fecal-management" title="Browse our Fecal Management collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Fecal Management</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 224.03333333333333px;">
      <div class="featured-card__image-wrapper" style="padding-top:95.33333333333333%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/722218_420x.jpg?v=1625696063" alt="Fecal Management" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 224.03333333333333px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/enteral-feeding" title="Browse our Enteral Feeding collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Enteral Feeding</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/download_2_480x480.jpg?v=1625695885" alt="Enteral Feeding" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/enteral-feeding" title="Browse our Enteral Feeding collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Enteral Feeding</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 228px; max-height: 221px;">
      <div class="featured-card__image-wrapper" style="padding-top:96.9298245614035%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/download_2_420x.jpg?v=1625695885" alt="Enteral Feeding" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 221px;">
        
      </div>
    </div>
  
</a>
</div>

  

  
      
    </div>
  
    
  </div>