<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>


<div class="page-width" data-section-id="162667165449a8cc73" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/bladder-scanner" title="Browse our Bladder Scanner collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bladder Scanner</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/download_1_480x480.jpg?v=1625695743" alt="Bladder Scanner" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bladder-scanner" title="Browse our Bladder Scanner collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 439px;">
      
      <div class="featured-card__header" style="height: 194px;">
        <p class="h1 featured-card__title">Bladder Scanner</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 172.21374045801528px;">
          <div class="featured-card__image-wrapper" style="padding-top:73.2824427480916%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/download_1_420x.jpg?v=1625695743" alt="Bladder Scanner" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 172.21374045801528px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/catheters" title="Browse our Catheters collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Catheters</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/20200525_body_3_480x480.jpg?v=1625695648" alt="Catheters" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/catheters" title="Browse our Catheters collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 439px;">
      
      <div class="featured-card__header" style="height: 194px;">
        <p class="h1 featured-card__title">Catheters</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.66666666666666px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.66666666666666%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/20200525_body_3_420x.jpg?v=1625695648" alt="Catheters" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/20200525_body_3_640x.jpg?v=1625695648 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/20200525_body_3_720x.jpg?v=1625695648 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.66666666666666px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/closed-system-foley-trays" title="Browse our Closed System Foley Trays collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Closed System Foley Trays</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/PF02101_PRI01_480x480.jpg?v=1625695558" alt="Closed System Foley Trays" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/closed-system-foley-trays" title="Browse our Closed System Foley Trays collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 439px;">
      
      <div class="featured-card__header" style="height: 194px;">
        <p class="h1 featured-card__title">Closed System Foley Trays</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/PF02101_PRI01_420x.jpg?v=1625695558" alt="Closed System Foley Trays" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/PF02101_PRI01_640x.jpg?v=1625695558 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/PF02101_PRI01_720x.jpg?v=1625695558 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/drainage-bags-leg-bags" title="Browse our Drainage Bags / Leg Bags collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Drainage Bags / Leg Bags</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/2482017579Medline-Fabric-Back-Leg-Bags-With-Comfort-Strap-And-Slide-Tap-Drainage-Port-L_480x480.jpg?v=1625695159" alt="Drainage Bags / Leg Bags" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/drainage-bags-leg-bags" title="Browse our Drainage Bags / Leg Bags collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 439px;">
      
      <div class="featured-card__header" style="height: 194px;">
        <p class="h1 featured-card__title">Drainage Bags / Leg Bags</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/2482017579Medline-Fabric-Back-Leg-Bags-With-Comfort-Strap-And-Slide-Tap-Drainage-Port-L_420x.jpg?v=1625695159" alt="Drainage Bags / Leg Bags" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  

  <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/urine-meters" title="Browse our Urine Meters collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Urine Meters</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/download_6d54a1d4-1eb9-4c3b-95be-4df3d52c8422_480x480.jpg?v=1625695073" alt="Urine Meters" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/urine-meters" title="Browse our Urine Meters collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Urine Meters</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 167.85714285714286px;">
      <div class="featured-card__image-wrapper" style="padding-top:71.42857142857143%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/download_6d54a1d4-1eb9-4c3b-95be-4df3d52c8422_420x.jpg?v=1625695073" alt="Urine Meters" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 167.85714285714286px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/kits-3" title="Browse our Kits Urology collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Kits Urology</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/PST-BAR-802010__80286.1576024148_480x480.jpg?v=1625694978" alt="Kits Urology" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/kits-3" title="Browse our Kits Urology collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Kits Urology</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/PST-BAR-802010__80286.1576024148_420x.jpg?v=1625694978" alt="Kits Urology" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  

      
    </div>
  
    
  </div>