
<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    
    </div>


<div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/clinical-nutrition" title="Browse our Clinical Nutrition collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Clinical Nutrition</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Dr.-Lara-Martin-Balanced-Family-Natural-Medicine-9_480x480.jpg?v=1625679445" alt="Clinical Nutrition" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/clinical-nutrition" title="Browse our Clinical Nutrition collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 307px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Clinical Nutrition</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 151.07142857142856px;">
          <div class="featured-card__image-wrapper" style="padding-top:64.28571428571428%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Dr.-Lara-Martin-Balanced-Family-Natural-Medicine-9_420x.jpg?v=1625679445" alt="Clinical Nutrition" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/Dr.-Lara-Martin-Balanced-Family-Natural-Medicine-9_640x.jpg?v=1625679445 640w
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 151.07142857142856px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/thickend-juices" title="Browse our Thickend Juices collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Thickend Juices</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/role-jus-dysphagie-image-2_480x480.jpg?v=1625678947" alt="Thickend Juices" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/thickend-juices" title="Browse our Thickend Juices collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 307px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Thickend Juices</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.66666666666666px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.66666666666666%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/role-jus-dysphagie-image-2_420x.jpg?v=1625678947" alt="Thickend Juices" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/role-jus-dysphagie-image-2_640x.jpg?v=1625678947 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/role-jus-dysphagie-image-2_720x.jpg?v=1625678947 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/role-jus-dysphagie-image-2_900x.jpg?v=1625678947 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.66666666666666px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/food-thickness" title="Browse our Food Thickness collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Food Thickness</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/images_4d5401c4-55df-4282-b2b5-7bc777f86a14_480x480.jpg?v=1625678222" alt="Food Thickness" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/food-thickness" title="Browse our Food Thickness collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 307px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Food Thickness</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.38181818181818px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.54545454545455%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/images_4d5401c4-55df-4282-b2b5-7bc777f86a14_420x.jpg?v=1625678222" alt="Food Thickness" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.38181818181818px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/nutrition-bar" title="Browse our Nutrition Bar collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Nutrition Bar</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/No-holds-barred-How-the-nutrition-bar-market-is-breaking-free-from-traditional-categories_wrbm_large_e0780b00-4c12-4d40-992d-f07424760abc_480x480.jpg?v=1625678014" alt="Nutrition Bar" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/nutrition-bar" title="Browse our Nutrition Bar collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 307px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Nutrition Bar</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.77486187845304px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.71270718232044%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/No-holds-barred-How-the-nutrition-bar-market-is-breaking-free-from-traditional-categories_wrbm_large_e0780b00-4c12-4d40-992d-f07424760abc_420x.jpg?v=1625678014" alt="Nutrition Bar" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/No-holds-barred-How-the-nutrition-bar-market-is-breaking-free-from-traditional-categories_wrbm_large_e0780b00-4c12-4d40-992d-f07424760abc_640x.jpg?v=1625678014 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/No-holds-barred-How-the-nutrition-bar-market-is-breaking-free-from-traditional-categories_wrbm_large_e0780b00-4c12-4d40-992d-f07424760abc_720x.jpg?v=1625678014 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.77486187845304px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
  <div class="page-width" data-section-id="16266690713cfd25c1" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/nutrition-drink" title="Browse our Nutrition Drink collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Nutrition Drink</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ded32c64-ccaa-455e-938f-9cac02d5cb8b_480x480.jpg?v=1625677723" alt="Nutrition Drink" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/nutrition-drink" title="Browse our Nutrition Drink collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 398px;">
      
      <div class="featured-card__header" style="height: 195px;">
        <p class="h1 featured-card__title">Nutrition Drink</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 132.1875px;">
          <div class="featured-card__image-wrapper" style="padding-top:56.25%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ded32c64-ccaa-455e-938f-9cac02d5cb8b_420x.jpg?v=1625677723" alt="Nutrition Drink" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/ded32c64-ccaa-455e-938f-9cac02d5cb8b_640x.jpg?v=1625677723 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ded32c64-ccaa-455e-938f-9cac02d5cb8b_720x.jpg?v=1625677723 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ded32c64-ccaa-455e-938f-9cac02d5cb8b_900x.jpg?v=1625677723 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 132.1875px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/vita-dietary-supply" title="Browse our Vita &amp; Dietary Supply collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Vita & Dietary Supply</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/gettyimages-1217847247_480x480.jpg?v=1625677492" alt="Vita &amp; Dietary Supply" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/vita-dietary-supply" title="Browse our Vita &amp; Dietary Supply collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 398px;">
      
      <div class="featured-card__header" style="height: 195px;">
        <p class="h1 featured-card__title">Vita &amp; Dietary Supply</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.66666666666666px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.66666666666666%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/gettyimages-1217847247_420x.jpg?v=1625677492" alt="Vita &amp; Dietary Supply" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/gettyimages-1217847247_640x.jpg?v=1625677492 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/gettyimages-1217847247_720x.jpg?v=1625677492 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/gettyimages-1217847247_900x.jpg?v=1625677492 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.66666666666666px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
    
  </div>

      
    </div>
  
    
  </div>