<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>


<div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/feeding-syringes" title="Browse our Feeding Syringes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Feeding Syringes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/fs_480x480.jpg?v=1625770188" alt="Feeding Syringes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/feeding-syringes" title="Browse our Feeding Syringes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Feeding Syringes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/fs_420x.jpg?v=1625770188" alt="Feeding Syringes" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/fs_640x.jpg?v=1625770188 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/fs_720x.jpg?v=1625770188 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/fs_900x.jpg?v=1625770188 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/irrigation-syringes" title="Browse our Irrigation Syringes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Irrigation Syringes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/is_480x480.jpg?v=1625770324" alt="Irrigation Syringes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/irrigation-syringes" title="Browse our Irrigation Syringes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Irrigation Syringes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 189.51612903225808px;">
          <div class="featured-card__image-wrapper" style="padding-top:80.64516129032258%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/is_420x.jpg?v=1625770324" alt="Irrigation Syringes" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/is_640x.jpg?v=1625770324 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/is_720x.jpg?v=1625770324 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/is_900x.jpg?v=1625770324 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 189.51612903225808px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/infusion-sets" title="Browse our Infusion Sets collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Infusion Sets</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/iss_480x480.jpg?v=1625770447" alt="Infusion Sets" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/infusion-sets" title="Browse our Infusion Sets collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Infusion Sets</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/iss_420x.jpg?v=1625770447" alt="Infusion Sets" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/biopsy-needles" title="Browse our Biopsy Needles collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Biopsy Needles</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bn_480x480.jpg?v=1625770878" alt="Biopsy Needles" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/biopsy-needles" title="Browse our Biopsy Needles collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Biopsy Needles</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 208.88888888888889px;">
          <div class="featured-card__image-wrapper" style="padding-top:88.88888888888889%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bn_420x.jpg?v=1625770878" alt="Biopsy Needles" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/bn_640x.jpg?v=1625770878 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bn_720x.jpg?v=1625770878 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 208.88888888888889px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
  <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/pen-needles" title="Browse our Pen Needles collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Pen Needles</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/pn_480x480.jpg?v=1625776841" alt="Pen Needles" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/pen-needles" title="Browse our Pen Needles collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 399px;">
  
  <div class="featured-card__header" style="height: 157px;">
    <p class="h1 featured-card__title">Pen Needles</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 188.0px; max-height: 235px;">
      <div class="featured-card__image-wrapper" style="padding-top:125.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/pn_420x.jpg?v=1625776841" alt="Pen Needles" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/pn_640x.jpg?v=1625776841 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/pn_720x.jpg?v=1625776841 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/pn_900x.jpg?v=1625776841 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
        
      </div>
    </div>
  
</a>
</div>

  
    

  


      
    </div>
  
    
  </div>