<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>

    <div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
          
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/urinals" title="Browse our Urinals collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Urinals</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/un_480x480.jpg?v=1625778534" alt="Urinals" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/urinals" title="Browse our Urinals collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Urinals</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 164.2235294117647px;">
              <div class="featured-card__image-wrapper" style="padding-top:69.88235294117646%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/un_420x.jpg?v=1625778534" alt="Urinals" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 164.2235294117647px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/bed-pans" title="Browse our Bed Pans collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Bed Pans</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bp_480x480.jpg?v=1625778631" alt="Bed Pans" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/bed-pans" title="Browse our Bed Pans collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Bed Pans</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 160.26999999999998px;">
              <div class="featured-card__image-wrapper" style="padding-top:68.19999999999999%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bp_420x.jpg?v=1625778631" alt="Bed Pans" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/bp_640x.jpg?v=1625778631 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bp_720x.jpg?v=1625778631 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bp_900x.jpg?v=1625778631 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 160.26999999999998px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/sitz-baths" title="Browse our Sitz Baths collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Sitz Baths</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/stt_480x480.jpg?v=1625778862" alt="Sitz Baths" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/sitz-baths" title="Browse our Sitz Baths collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Sitz Baths</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 151.81px;">
              <div class="featured-card__image-wrapper" style="padding-top:64.6%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/stt_420x.jpg?v=1625778862" alt="Sitz Baths" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/stt_640x.jpg?v=1625778862 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/stt_720x.jpg?v=1625778862 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/stt_900x.jpg?v=1625778862 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 151.81px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/antiseptic-products" title="Browse our Antiseptic Products collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Antiseptic Products</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/dds_480x480.jpg?v=1625778939" alt="Antiseptic Products" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/antiseptic-products" title="Browse our Antiseptic Products collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Antiseptic Products</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/dds_420x.jpg?v=1625778939" alt="Antiseptic Products" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/dds_640x.jpg?v=1625778939 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/dds_720x.jpg?v=1625778939 720w
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>


      <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/applicators" title="Browse our Applicators collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Applicators</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/app_480x480.jpg?v=1625779014" alt="Applicators" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/applicators" title="Browse our Applicators collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 365px;">
      
      <div class="featured-card__header" style="height: 120px;">
        <p class="h1 featured-card__title">Applicators</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 173.15241470979177px;">
          <div class="featured-card__image-wrapper" style="padding-top:73.68187859991139%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/app_420x.jpg?v=1625779014" alt="Applicators" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/app_640x.jpg?v=1625779014 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/app_720x.jpg?v=1625779014 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/app_900x.jpg?v=1625779014 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 173.15241470979177px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/swabs" title="Browse our Swabs collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Swabs</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/universal_foam_swabsticks_800x_daf2ea79-67c5-4515-9b09-0541cbfacabb_480x480.jpg?v=1625675581" alt="Swabs" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/swabs" title="Browse our Swabs collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 365px;">
      
      <div class="featured-card__header" style="height: 120px;">
        <p class="h1 featured-card__title">Swabs</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/universal_foam_swabsticks_800x_daf2ea79-67c5-4515-9b09-0541cbfacabb_420x.jpg?v=1625675581" alt="Swabs" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/universal_foam_swabsticks_800x_daf2ea79-67c5-4515-9b09-0541cbfacabb_640x.jpg?v=1625675581 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/universal_foam_swabsticks_800x_daf2ea79-67c5-4515-9b09-0541cbfacabb_720x.jpg?v=1625675581 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/carafes" title="Browse our Carafes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Carafes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/666_480x480.jpg?v=1625779122" alt="Carafes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/carafes" title="Browse our Carafes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 365px;">
      
      <div class="featured-card__header" style="height: 120px;">
        <p class="h1 featured-card__title">Carafes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/666_420x.jpg?v=1625779122" alt="Carafes" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/pitchers" title="Browse our Pitchers collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Pitchers</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/000_480x480.jpg?v=1625779245" alt="Pitchers" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/pitchers" title="Browse our Pitchers collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 365px;">
      
      <div class="featured-card__header" style="height: 120px;">
        <p class="h1 featured-card__title">Pitchers</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.55633802816902px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.61971830985915%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/000_420x.jpg?v=1625779245" alt="Pitchers" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/000_640x.jpg?v=1625779245 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/000_720x.jpg?v=1625779245 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/000_900x.jpg?v=1625779245 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.55633802816902px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
    </div>

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/ear-supplies" title="Browse our Ear Supplies collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Ear Supplies</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bbb_480x480.jpg?v=1625779335" alt="Ear Supplies" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/ear-supplies" title="Browse our Ear Supplies collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Ear Supplies</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bbb_420x.jpg?v=1625779335" alt="Ear Supplies" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/iv-sets" title="Browse our IV Sets collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">IV Sets</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/888_480x480.jpg?v=1625786561" alt="IV Sets" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/iv-sets" title="Browse our IV Sets collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">IV Sets</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/888_420x.jpg?v=1625786561" alt="IV Sets" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/888_640x.jpg?v=1625786561 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/888_720x.jpg?v=1625786561 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/888_900x.jpg?v=1625786561 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/tongue-depressors" title="Browse our Tongue Depressors collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Tongue Depressors</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/to_480x480.jpg?v=1625786668" alt="Tongue Depressors" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/tongue-depressors" title="Browse our Tongue Depressors collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Tongue Depressors</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 115.09282970550576px;">
          <div class="featured-card__image-wrapper" style="padding-top:48.97567221510884%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/to_420x.jpg?v=1625786668" alt="Tongue Depressors" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/to_640x.jpg?v=1625786668 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/to_720x.jpg?v=1625786668 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/to_900x.jpg?v=1625786668 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 115.09282970550576px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/hair-washing" title="Browse our Hair Washing collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Hair Washing</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/hair_480x480.jpg?v=1625786791" alt="Hair Washing" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/hair-washing" title="Browse our Hair Washing collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Hair Washing</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 195.92505854800936px;">
          <div class="featured-card__image-wrapper" style="padding-top:83.37236533957847%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/hair_420x.jpg?v=1625786791" alt="Hair Washing" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 195.92505854800936px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
    </div>

    <div class="grid__item medium-up--one-quarter">
  

        <noscript>
          <a href="/collections/bathing-gloves" title="Browse our Bathing Gloves collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Bathing Gloves</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/TG_480x480.jpg?v=1625786892" alt="Bathing Gloves" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/bathing-gloves" title="Browse our Bathing Gloves collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 408px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Bathing Gloves</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/TG_420x.jpg?v=1625786892" alt="Bathing Gloves" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
        </div>
      
        
      </div>