<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>
      

<!--beds starting-->

<div class="page-width" data-section-id="1625602736fcd3f7c2" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      

    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/low-beds" title="Browse our Low Beds collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Low Beds</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/145851_480x480.jpg?v=1625599045" alt="Low Beds" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/low-beds" title="Browse our Low Beds collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Low Beds</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/145851_420x.jpg?v=1625599045" alt="Low Beds" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/bed-rails" title="Browse our Bed Rails collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Bed Rails</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/293624_480x480.jpg?v=1625519959" alt="Bed Rails" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/bed-rails" title="Browse our Bed Rails collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Bed Rails</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/293624_420x.jpg?v=1625519959" alt="Bed Rails" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/293624_640x.jpg?v=1625519959 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/293624_720x.jpg?v=1625519959 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/293624_900x.jpg?v=1625519959 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/long-term-beds" title="Browse our Long-Term Beds collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Long-Term Beds</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/multitech-1-scaled_480x480.jpg?v=1625519651" alt="Long-Term Beds" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/long-term-beds" title="Browse our Long-Term Beds collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Long-Term Beds</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.63300386764075px;">
      <div class="featured-card__image-wrapper" style="padding-top:66.65234207133649%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/multitech-1-scaled_420x.jpg?v=1625519651" alt="Long-Term Beds" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/multitech-1-scaled_640x.jpg?v=1625519651 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/multitech-1-scaled_720x.jpg?v=1625519651 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/multitech-1-scaled_900x.jpg?v=1625519651 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.63300386764075px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/home-care-beds" title="Browse our Home-Care Beds collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Home-Care Beds</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Manual-Hospital-Bed_480x480.jpg?v=1625519855" alt="Home-Care Beds" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/home-care-beds" title="Browse our Home-Care Beds collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Home-Care Beds</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 187.87495843032923px;">
      <div class="featured-card__image-wrapper" style="padding-top:79.94679082141668%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Manual-Hospital-Bed_420x.jpg?v=1625519855" alt="Home-Care Beds" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/Manual-Hospital-Bed_640x.jpg?v=1625519855 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Manual-Hospital-Bed_720x.jpg?v=1625519855 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Manual-Hospital-Bed_900x.jpg?v=1625519855 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 187.87495843032923px;">
        
      </div>
    </div>
  
</a>
  <!--Making five /n-->
 
</div>






<div class="grid__item medium-up--one-quarter">
  

    <noscript>
      <a href="/collections/bariatric-beds" title="Browse our Bariatric Beds collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bariatric Beds</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/triflex_480x480.jpg?v=1626277868" alt="Bariatric Beds" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bariatric-beds" title="Browse our Bariatric Beds collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 407px;">
      
      <div class="featured-card__header" style="height: 157px;">
        <p class="h1 featured-card__title">Bariatric Beds</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 172.16304347826087px;">
          <div class="featured-card__image-wrapper" style="padding-top:73.26086956521739%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/triflex_420x.jpg?v=1626277868" alt="Bariatric Beds" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 172.16304347826087px;">
            
          </div>
        </div>
      
    </a>
  </div>

</div>
</div>

