<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>


    <div id="shopify-section-16258609358d21aed8" class="shopify-section index-section"><div class="page-width" data-section-id="16258609358d21aed8" data-section-type="collections-list">
  

  

        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
          
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/bath-benches" title="Browse our Bath Benches &amp; Stools collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Bath Benches & Stools</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/drirtl12203kdr_480x480.jpg?v=1625601682" alt="Bath Benches &amp; Stools" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/bath-benches" title="Browse our Bath Benches &amp; Stools collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 471px;">
          
          <div class="featured-card__header" style="height: 195px;">
            <p class="h1 featured-card__title">Bath Benches &amp; Stools</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 213.63636363636363px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:110.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/drirtl12203kdr_420x.jpg?v=1625601682" alt="Bath Benches &amp; Stools" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/shower-sprays" title="Browse our Shower Sprays collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Shower Sprays</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-handheld-shower-spray-carex-hand-held-shower-spray-with-diverter-valve-28287804440681_480x480.png?v=1625601837" alt="Shower Sprays" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/shower-sprays" title="Browse our Shower Sprays collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 471px;">
          
          <div class="featured-card__header" style="height: 195px;">
            <p class="h1 featured-card__title">Shower Sprays</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-handheld-shower-spray-carex-hand-held-shower-spray-with-diverter-valve-28287804440681_420x.png?v=1625601837" alt="Shower Sprays" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-handheld-shower-spray-carex-hand-held-shower-spray-with-diverter-valve-28287804440681_640x.png?v=1625601837 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-handheld-shower-spray-carex-hand-held-shower-spray-with-diverter-valve-28287804440681_720x.png?v=1625601837 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-handheld-shower-spray-carex-hand-held-shower-spray-with-diverter-valve-28287804440681_900x.png?v=1625601837 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/transfer-benches" title="Browse our Transfer Benches collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Transfer Benches</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/RTL12011KDR_480x480.jpg?v=1625603515" alt="Transfer Benches" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/transfer-benches" title="Browse our Transfer Benches collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 471px;">
          
          <div class="featured-card__header" style="height: 195px;">
            <p class="h1 featured-card__title">Transfer Benches</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 189.97262773722628px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:123.7020316%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/RTL12011KDR_420x.jpg?v=1625603515" alt="Transfer Benches" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/RTL12011KDR_640x.jpg?v=1625603515 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/RTL12011KDR_720x.jpg?v=1625603515 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/RTL12011KDR_900x.jpg?v=1625603515 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/bath-lifts" title="Browse our Bath Lifts collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Bath Lifts</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/img-resize_480x480.jpg?v=1625603616" alt="Bath Lifts" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/bath-lifts" title="Browse our Bath Lifts collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 471px;">
          
          <div class="featured-card__header" style="height: 195px;">
            <p class="h1 featured-card__title">Bath Lifts</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 146.01333333333332px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:160.944206%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/img-resize_420x.jpg?v=1625603616" alt="Bath Lifts" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/img-resize_640x.jpg?v=1625603616 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/img-resize_720x.jpg?v=1625603616 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/img-resize_900x.jpg?v=1625603616 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          <!--Bath safety second row -->

          <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/bath-mats" title="Browse our Bath Mats collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Bath Mats</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/84399_large_a21b4c32-6d26-411f-970b-b1e8e8e99d75_480x480.jpg?v=1625603991" alt="Bath Mats" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/bath-mats" title="Browse our Bath Mats collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
          
          <div class="featured-card__header" style="height: 156px;">
            <p class="h1 featured-card__title">Bath Mats</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 177.71875px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:132.231405%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/84399_large_a21b4c32-6d26-411f-970b-b1e8e8e99d75_420x.jpg?v=1625603991" alt="Bath Mats" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/raised-toilet-seats" title="Browse our Raised Toilet Seats collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Raised Toilet Seats</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61tZEn0E-_L._AC_SL1500_480x480.jpg?v=1625524630" alt="Raised Toilet Seats" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/raised-toilet-seats" title="Browse our Raised Toilet Seats collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
          
          <div class="featured-card__header" style="height: 156px;">
            <p class="h1 featured-card__title">Raised Toilet Seats</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 229.0890550645819px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:102.5801953%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61tZEn0E-_L._AC_SL1500_420x.jpg?v=1625524630" alt="Raised Toilet Seats" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/61tZEn0E-_L._AC_SL1500_640x.jpg?v=1625524630 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61tZEn0E-_L._AC_SL1500_720x.jpg?v=1625524630 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61tZEn0E-_L._AC_SL1500_900x.jpg?v=1625524630 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/safety-frames" title="Browse our Safety Frames collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Safety Frames</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-toilet-assist-safety-rails-carex-toilet-safety-frame-28287702270057_1000x_97f22400-5d82-4e0b-8f8b-15a49a6ec0d9_480x480.png?v=1625524402" alt="Safety Frames" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/safety-frames" title="Browse our Safety Frames collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
          
          <div class="featured-card__header" style="height: 156px;">
            <p class="h1 featured-card__title">Safety Frames</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-toilet-assist-safety-rails-carex-toilet-safety-frame-28287702270057_1000x_97f22400-5d82-4e0b-8f8b-15a49a6ec0d9_420x.png?v=1625524402" alt="Safety Frames" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-toilet-assist-safety-rails-carex-toilet-safety-frame-28287702270057_1000x_97f22400-5d82-4e0b-8f8b-15a49a6ec0d9_640x.png?v=1625524402 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-toilet-assist-safety-rails-carex-toilet-safety-frame-28287702270057_1000x_97f22400-5d82-4e0b-8f8b-15a49a6ec0d9_720x.png?v=1625524402 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-toilet-assist-safety-rails-carex-toilet-safety-frame-28287702270057_1000x_97f22400-5d82-4e0b-8f8b-15a49a6ec0d9_900x.png?v=1625524402 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/grab-bars" title="Browse our Grab Bars &amp; Tub Rails collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Grab Bars & Tub Rails</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-grab-bars-carex-textured-wall-grab-bar-28287803031657_1000x_b9b5e546-648e-4eb9-a002-7541fef39dae_480x480.png?v=1625601591" alt="Grab Bars &amp; Tub Rails" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/grab-bars" title="Browse our Grab Bars &amp; Tub Rails collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
          
          <div class="featured-card__header" style="height: 156px;">
            <p class="h1 featured-card__title">Grab Bars &amp; Tub Rails</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-grab-bars-carex-textured-wall-grab-bar-28287803031657_1000x_b9b5e546-648e-4eb9-a002-7541fef39dae_420x.png?v=1625601591" alt="Grab Bars &amp; Tub Rails" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-grab-bars-carex-textured-wall-grab-bar-28287803031657_1000x_b9b5e546-648e-4eb9-a002-7541fef39dae_640x.png?v=1625601591 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-grab-bars-carex-textured-wall-grab-bar-28287803031657_1000x_b9b5e546-648e-4eb9-a002-7541fef39dae_720x.png?v=1625601591 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/carex-com-grab-bars-carex-textured-wall-grab-bar-28287803031657_1000x_b9b5e546-648e-4eb9-a002-7541fef39dae_900x.png?v=1625601591 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
        </div>


        <!--3rd column -BathSafety-->
        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/assist-poles" title="Browse our Assist Poles collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Assist Poles</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/15500th__98788.1431764802_480x480.jpg?v=1625677102" alt="Assist Poles" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/assist-poles" title="Browse our Assist Poles collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
          
          <div class="featured-card__header" style="height: 156px;">
            <p class="h1 featured-card__title">Assist Poles</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/15500th__98788.1431764802_420x.jpg?v=1625677102" alt="Assist Poles" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/15500th__98788.1431764802_640x.jpg?v=1625677102 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/15500th__98788.1431764802_720x.jpg?v=1625677102 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/15500th__98788.1431764802_900x.jpg?v=1625677102 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/bath-steps" title="Browse our Bath Steps collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Bath Steps</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61u-NJSF-AL._AC_SL1500_480x480.jpg?v=1625524499" alt="Bath Steps" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/bath-steps" title="Browse our Bath Steps collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
          
          <div class="featured-card__header" style="height: 156px;">
            <p class="h1 featured-card__title">Bath Steps</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 212.1371610845295px;">
              <div class="featured-card__image-wrapper" style="padding-top:90.27113237639554%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61u-NJSF-AL._AC_SL1500_420x.jpg?v=1625524499" alt="Bath Steps" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/61u-NJSF-AL._AC_SL1500_640x.jpg?v=1625524499 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61u-NJSF-AL._AC_SL1500_720x.jpg?v=1625524499 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61u-NJSF-AL._AC_SL1500_900x.jpg?v=1625524499 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 212.1371610845295px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/toilet-seats" title="Browse our Toilet Seats collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Toilet Seats</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/5257a65bl020-mainstream-elongated-toilet-seat-3_480x480.png?v=1625603770" alt="Toilet Seats" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/toilet-seats" title="Browse our Toilet Seats collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
          
          <div class="featured-card__header" style="height: 156px;">
            <p class="h1 featured-card__title">Toilet Seats</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/5257a65bl020-mainstream-elongated-toilet-seat-3_420x.png?v=1625603770" alt="Toilet Seats" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/bundles" title="Browse our Bundles collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Bundles</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bathbundle-300x300_480x480.jpg?v=1626448651" alt="Bundles" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/bundles" title="Browse our Bundles collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
          
          <div class="featured-card__header" style="height: 156px;">
            <p class="h1 featured-card__title">Bundles</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bathbundle-300x300_420x.jpg?v=1626448651" alt="Bundles" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
        </div>

        <!--4 th column -->

        <div class="grid__item medium-up--one-quarter">
  

            <noscript>
              <a href="/collections/bariatric-bath-safety" title="Browse our Bariatric Bath Safety collection" class="featured-card">
                
                <div class="featured-card__header">
                  <p class="h1 featured-card__title">Bariatric Bath Safety</p>
                  <span class="featured-card__action">View all</span>
                </div>
                
                  <div class="featured-card__image-wrapper">
                    
                      <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/invacare-bariatric-transfer-bench_transfer-bench-400x400_480x480.jpg?v=1626448776" alt="Bariatric Bath Safety" class="featured-card__image">
                    
                  </div>
                
              </a>
            </noscript>
            
            <a href="/collections/bariatric-bath-safety" title="Browse our Bariatric Bath Safety collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 406px;">
              
              <div class="featured-card__header" style="height: 156px;">
                <p class="h1 featured-card__title">Bariatric Bath Safety</p>
                <span class="featured-card__action">View all</span>
              </div>
              
                
                <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
                  <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                    
                      <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/invacare-bariatric-transfer-bench_transfer-bench-400x400_420x.jpg?v=1626448776" alt="Bariatric Bath Safety" srcset="
                        
                        
                        " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                    
                  </div>
                </div>
              
            </a>
          </div>


        </div>
      
        
      </div>
      
      
      
      
      </div>