<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>
  
  <!--The end of the title -->

<div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/garments" title="Browse our Garments collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Garments</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/GG_480x480.jpg?v=1625766080" alt="Garments" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/garments" title="Browse our Garments collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 442px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Garments</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/GG_420x.jpg?v=1625766080" alt="Garments" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/multilayer" title="Browse our Multilayer collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Multilayer</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/MC_480x480.jpg?v=1625769186" alt="Multilayer" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/multilayer" title="Browse our Multilayer collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 442px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Multilayer</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 166.15234375px;">
          <div class="featured-card__image-wrapper" style="padding-top:70.703125%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/MC_420x.jpg?v=1625769186" alt="Multilayer" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 166.15234375px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/unna-boots" title="Browse our Unna Boots collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Unna Boots</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ub_480x480.jpg?v=1625768428" alt="Unna Boots" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/unna-boots" title="Browse our Unna Boots collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 442px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Unna Boots</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 139.40677966101694px;">
          <div class="featured-card__image-wrapper" style="padding-top:59.32203389830508%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ub_420x.jpg?v=1625768428" alt="Unna Boots" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 139.40677966101694px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/anti-embolism-stockings" title="Browse our Anti Embolism Stockings collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Anti Embolism Stockings</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ES_480x480.jpg?v=1625769056" alt="Anti Embolism Stockings" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/anti-embolism-stockings" title="Browse our Anti Embolism Stockings collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 442px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Anti Embolism Stockings</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ES_420x.jpg?v=1625769056" alt="Anti Embolism Stockings" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/ES_640x.jpg?v=1625769056 640w
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
      <div class="grid__item medium-up--one-quarter">
  

  <noscript>
    <a href="/collections/gloves-1" title="Browse our Gloves collection" class="featured-card">
      
      <div class="featured-card__header">
        <p class="h1 featured-card__title">Gloves</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        <div class="featured-card__image-wrapper">
          
            <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/SC_0f69b716-8bc4-479f-9795-8fa10fdcc23f_480x480.jpg?v=1625769309" alt="Gloves" class="featured-card__image">
          
        </div>
      
    </a>
  </noscript>
  
  <a href="/collections/gloves-1" title="Browse our Gloves collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
    
    <div class="featured-card__header" style="height: 158px;">
      <p class="h1 featured-card__title">Gloves</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      
      <div class="featured-card__image-container" style="max-width: 235px; max-height: 230.3px;">
        <div class="featured-card__image-wrapper" style="padding-top:98.0%;">
          
            <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/SC_0f69b716-8bc4-479f-9795-8fa10fdcc23f_420x.jpg?v=1625769309" alt="Gloves" srcset="
              //cdn.shopify.com/s/files/1/0464/1112/0802/collections/SC_0f69b716-8bc4-479f-9795-8fa10fdcc23f_640x.jpg?v=1625769309 640w
              ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/SC_0f69b716-8bc4-479f-9795-8fa10fdcc23f_720x.jpg?v=1625769309 720w
              ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/SC_0f69b716-8bc4-479f-9795-8fa10fdcc23f_900x.jpg?v=1625769309 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 230.3px;">
          
        </div>
      </div>
    
  </a>
</div>

    
      
      

      
      <div class="grid__item medium-up--one-quarter">
  

  <noscript>
    <a href="/collections/stockings" title="Browse our Stockings &amp; Socks collection" class="featured-card">
      
      <div class="featured-card__header">
        <p class="h1 featured-card__title">Stockings & Socks</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        <div class="featured-card__image-wrapper">
          
            <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CS_480x480.jpg?v=1625769393" alt="Stockings &amp; Socks" class="featured-card__image">
          
        </div>
      
    </a>
  </noscript>
  
  <a href="/collections/stockings" title="Browse our Stockings &amp; Socks collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
    
    <div class="featured-card__header" style="height: 158px;">
      <p class="h1 featured-card__title">Stockings &amp; Socks</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      
      <div class="featured-card__image-container" style="max-width: 235px; max-height: 226.1320754716981px;">
        <div class="featured-card__image-wrapper" style="padding-top:96.22641509433961%;">
          
            <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CS_420x.jpg?v=1625769393" alt="Stockings &amp; Socks" srcset="
              //cdn.shopify.com/s/files/1/0464/1112/0802/collections/CS_640x.jpg?v=1625769393 640w
              
              " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 226.1320754716981px;">
          
        </div>
      </div>
    
  </a>
</div>

    
      
      

      
      <div class="grid__item medium-up--one-quarter">
  

  <noscript>
    <a href="/collections/arm-sleeves" title="Browse our Arm Sleeves collection" class="featured-card">
      
      <div class="featured-card__header">
        <p class="h1 featured-card__title">Arm Sleeves</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        <div class="featured-card__image-wrapper">
          
            <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AS_480x480.jpg?v=1625769505" alt="Arm Sleeves" class="featured-card__image">
          
        </div>
      
    </a>
  </noscript>
  
  <a href="/collections/arm-sleeves" title="Browse our Arm Sleeves collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
    
    <div class="featured-card__header" style="height: 158px;">
      <p class="h1 featured-card__title">Arm Sleeves</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      
      <div class="featured-card__image-container" style="max-width: 235px; max-height: 117.95808966861598px;">
        <div class="featured-card__image-wrapper" style="padding-top:50.19493177387914%;">
          
            <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AS_420x.jpg?v=1625769505" alt="Arm Sleeves" srcset="
              //cdn.shopify.com/s/files/1/0464/1112/0802/collections/AS_640x.jpg?v=1625769505 640w
              ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AS_720x.jpg?v=1625769505 720w
              ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AS_900x.jpg?v=1625769505 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 117.95808966861598px;">
          
        </div>
      </div>
    
  </a>
</div>

    
      
      

      
      <div class="grid__item medium-up--one-quarter">
  

  <noscript>
    <a href="/collections/chin-straps" title="Browse our Chin Straps collection" class="featured-card">
      
      <div class="featured-card__header">
        <p class="h1 featured-card__title">Chin Straps</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        <div class="featured-card__image-wrapper">
          
            <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/90ee83dd-5747-4ea3-a64b-a16305b95ffd.b406f9269e800d2d85da743720ac6c17_480x480.jpg?v=1626675917" alt="Chin Straps" class="featured-card__image">
          
        </div>
      
    </a>
  </noscript>
  
  <a href="/collections/chin-straps" title="Browse our Chin Straps collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
    
    <div class="featured-card__header" style="height: 158px;">
      <p class="h1 featured-card__title">Chin Straps</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      
      <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
        <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
          
            <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/90ee83dd-5747-4ea3-a64b-a16305b95ffd.b406f9269e800d2d85da743720ac6c17_420x.jpg?v=1626675917" alt="Chin Straps" srcset="
              
              
              " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
          
        </div>
      </div>
    
  </a>
</div>

    
  </div>

  <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/masks" title="Browse our Mask Straps collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Mask Straps</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CM_480x480.jpg?v=1625769609" alt="Mask Straps" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/masks" title="Browse our Mask Straps collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
  
  <div class="featured-card__header" style="height: 158px;">
    <p class="h1 featured-card__title">Mask Straps</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 193.61635220125785px; max-height: 235px;">
      <div class="featured-card__image-wrapper" style="padding-top:121.3740458%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CM_420x.jpg?v=1625769609" alt="Mask Straps" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/CM_640x.jpg?v=1625769609 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CM_720x.jpg?v=1625769609 720w
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/bandages" title="Browse our Bandages collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Bandages</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cb_480x480.jpg?v=1625769724" alt="Bandages" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/bandages" title="Browse our Bandages collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
  
  <div class="featured-card__header" style="height: 158px;">
    <p class="h1 featured-card__title">Bandages</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 198.9541832669323px; max-height: 235px;">
      <div class="featured-card__image-wrapper" style="padding-top:118.1176471%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cb_420x.jpg?v=1625769724" alt="Bandages" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/wraps" title="Browse our Wraps collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Wraps</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/basic_legpiece-large_x1400_8547c155-acb4-46c1-afc0-4ef154cd7f8e_480x480.jpg?v=1625676069" alt="Wraps" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/wraps" title="Browse our Wraps collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
  
  <div class="featured-card__header" style="height: 158px;">
    <p class="h1 featured-card__title">Wraps</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/basic_legpiece-large_x1400_8547c155-acb4-46c1-afc0-4ef154cd7f8e_420x.jpg?v=1625676069" alt="Wraps" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/basic_legpiece-large_x1400_8547c155-acb4-46c1-afc0-4ef154cd7f8e_640x.jpg?v=1625676069 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/basic_legpiece-large_x1400_8547c155-acb4-46c1-afc0-4ef154cd7f8e_720x.jpg?v=1625676069 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/basic_legpiece-large_x1400_8547c155-acb4-46c1-afc0-4ef154cd7f8e_900x.jpg?v=1625676069 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    </div>
  
    
  </div>