

{% comment %}
 Featuring collections on a page using a menu
 https://shopify-dev.com/tutorials/feature-a-subset-of-collections-on-a-page
{% endcomment %}

<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
 </div>
  
  <!--The end of the title -->
  
   <div class="page-width" data-section-id="1625602736fcd3f7c2" data-section-type="collections-list">
    
  
    
  
    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
         
     <div class="grid__item medium-up--one-quarter">
     
   
     <noscript>
       <a href="/collections/briefs" title="Browse our Briefs collection" class="featured-card">
         
         <div class="featured-card__header">
           <p class="h1 featured-card__title">Briefs</p>
           <span class="featured-card__action">View all</span>
         </div>
         
           <div class="featured-card__image-wrapper">
             
               <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/67903_ConfioAir_Stretch_Super_L-XL_product_480x480.jpg?v=1625522304" alt="Briefs" class="featured-card__image">
             
           </div>
         
       </a>
     </noscript>
     
     <a href="/collections/briefs" title="Browse our Briefs collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
       
       <div class="featured-card__header" style="height: 195px;">
         <p class="h1 featured-card__title">Briefs</p>
         <span class="featured-card__action">View all</span>
       </div>
       
         
         <div class="featured-card__image-container" style="max-width: 235px; max-height: 177.227130977131px;">
           <div class="featured-card__image-wrapper" style="padding-top:75.41580041580042%;">
             
               <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/67903_ConfioAir_Stretch_Super_L-XL_product_420x.jpg?v=1625522304" alt="Briefs" srcset="
                 //cdn.shopify.com/s/files/1/0464/1112/0802/collections/67903_ConfioAir_Stretch_Super_L-XL_product_640x.jpg?v=1625522304 640w
                 ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/67903_ConfioAir_Stretch_Super_L-XL_product_720x.jpg?v=1625522304 720w
                 ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/67903_ConfioAir_Stretch_Super_L-XL_product_900x.jpg?v=1625522304 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 177.227130977131px;">
             
           </div>
         </div>
       
     </a>
   </div>
   
       
         
         
   
         
        <div class="grid__item medium-up--one-quarter">
     
   
     <noscript>
       <a href="/collections/underpads" title="Browse our Underpads collection" class="featured-card">
         
         <div class="featured-card__header">
           <p class="h1 featured-card__title">Underpads</p>
           <span class="featured-card__action">View all</span>
         </div>
         
           <div class="featured-card__image-wrapper">
             
               <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/6240d1163992c39db0f2d7bdad88a76e_480x480.jpg?v=1625585037" alt="Underpads" class="featured-card__image">
             
           </div>
         
       </a>
     </noscript>
     
     <a href="/collections/underpads" title="Browse our Underpads collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
       
       <div class="featured-card__header" style="height: 195px;">
         <p class="h1 featured-card__title">Underpads</p>
         <span class="featured-card__action">View all</span>
       </div>
       
         
         <div class="featured-card__image-container" style="max-width: 235px; max-height: 221.78124999999997px;">
           <div class="featured-card__image-wrapper" style="padding-top:94.375%;">
             
               <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/6240d1163992c39db0f2d7bdad88a76e_420x.jpg?v=1625585037" alt="Underpads" srcset="
                 
                 
                 " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 221.78124999999997px;">
             
           </div>
         </div>
       
     </a>
   </div>
   
       
         
         
   
         
      <div class="grid__item medium-up--one-quarter">
     
   
     <noscript>
       <a href="/collections/pads" title="Browse our Pads collection" class="featured-card">
         
         <div class="featured-card__header">
           <p class="h1 featured-card__title">Pads</p>
           <span class="featured-card__action">View all</span>
         </div>
         
           <div class="featured-card__image-wrapper">
             
               <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/adhesive-sanitary-pads-with-wings-pf06263_480x480.jpg?v=1625521743" alt="Pads" class="featured-card__image">
             
           </div>
         
       </a>
     </noscript>
     
     <a href="/collections/pads" title="Browse our Pads collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
       
       <div class="featured-card__header" style="height: 195px;">
         <p class="h1 featured-card__title">Pads</p>
         <span class="featured-card__action">View all</span>
       </div>
       
         
         <div class="featured-card__image-container" style="max-width: 235px; max-height: 199.0751689189189px;">
           <div class="featured-card__image-wrapper" style="padding-top:84.71283783783782%;">
             
               <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/adhesive-sanitary-pads-with-wings-pf06263_420x.jpg?v=1625521743" alt="Pads" srcset="
                 //cdn.shopify.com/s/files/1/0464/1112/0802/collections/adhesive-sanitary-pads-with-wings-pf06263_640x.jpg?v=1625521743 640w
                 ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/adhesive-sanitary-pads-with-wings-pf06263_720x.jpg?v=1625521743 720w
                 ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/adhesive-sanitary-pads-with-wings-pf06263_900x.jpg?v=1625521743 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 199.0751689189189px;">
             
           </div>
         </div>
       
     </a>
   </div>
   
       
         
         
   
         
     <div class="grid__item medium-up--one-quarter">
     
   
     <noscript>
       <a href="/collections/protective-underwear" title="Browse our Protective Underwear &amp; Pants collection" class="featured-card">
         
         <div class="featured-card__header">
           <p class="h1 featured-card__title">Protective Underwear & Pants</p>
           <span class="featured-card__action">View all</span>
         </div>
         
           <div class="featured-card__image-wrapper">
             
               <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/752020535ProCare-Protective-Underwear-L_797bdf40-05ad-4f33-aee6-3b4e0f2c51ec_480x480.jpg?v=1625522104" alt="Protective Underwear &amp; Pants" class="featured-card__image">
             
           </div>
         
       </a>
     </noscript>
     
     <a href="/collections/protective-underwear" title="Browse our Protective Underwear &amp; Pants collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
       
       <div class="featured-card__header" style="height: 195px;">
         <p class="h1 featured-card__title">Protective Underwear &amp; Pants</p>
         <span class="featured-card__action">View all</span>
       </div>
       
         
         <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
           <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
             
               <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/752020535ProCare-Protective-Underwear-L_797bdf40-05ad-4f33-aee6-3b4e0f2c51ec_420x.jpg?v=1625522104" alt="Protective Underwear &amp; Pants" srcset="
                 //cdn.shopify.com/s/files/1/0464/1112/0802/collections/752020535ProCare-Protective-Underwear-L_797bdf40-05ad-4f33-aee6-3b4e0f2c51ec_640x.jpg?v=1625522104 640w
                 ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/752020535ProCare-Protective-Underwear-L_797bdf40-05ad-4f33-aee6-3b4e0f2c51ec_720x.jpg?v=1625522104 720w
                 ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/752020535ProCare-Protective-Underwear-L_797bdf40-05ad-4f33-aee6-3b4e0f2c51ec_900x.jpg?v=1625522104 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
             
           </div>
         </div>
       
     </a>
     </div>
     <div class="grid__item medium-up--one-quarter">
  

        <noscript>
          <a href="/collections/wash-cloths" title="Browse our Washcloths collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Washcloths</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/7472e5ac65fc1c3aceb216949e5d57f1a0-amazon-2.2x.rhorizontal.w600_480x480.jpg?v=1629476043" alt="Washcloths" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/wash-cloths" title="Browse our Washcloths collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 394px;">
          
          <div class="featured-card__header" style="height: 118px;">
            <p class="h1 featured-card__title">Washcloths</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 200.4578313253012px;">
              <div class="featured-card__image-wrapper" style="padding-top:85.3012048192771%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/7472e5ac65fc1c3aceb216949e5d57f1a0-amazon-2.2x.rhorizontal.w600_420x.jpg?v=1629476043" alt="Washcloths" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 200.4578313253012px;">
                
              </div>
            </div>
          
        </a>
      </div>

</div>
</div>

       