<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>

    <!--      -->

    <div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
          
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/bandages-1" title="Browse our Bandages collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Bandages</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/BT_480x480.jpg?v=1625767334" alt="Bandages" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/bandages-1" title="Browse our Bandages collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 365px;">
          
          <div class="featured-card__header" style="height: 120px;">
            <p class="h1 featured-card__title">Bandages</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/BT_420x.jpg?v=1625767334" alt="Bandages" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/casts" title="Browse our Casts collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Casts</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CC_480x480.jpg?v=1625766176" alt="Casts" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/casts" title="Browse our Casts collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 365px;">
          
          <div class="featured-card__header" style="height: 120px;">
            <p class="h1 featured-card__title">Casts</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.38181818181818px;">
              <div class="featured-card__image-wrapper" style="padding-top:66.54545454545455%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CC_420x.jpg?v=1625766176" alt="Casts" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.38181818181818px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/dressings" title="Browse our Dressings collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Dressings</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/DB_480x480.jpg?v=1625766462" alt="Dressings" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/dressings" title="Browse our Dressings collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 365px;">
          
          <div class="featured-card__header" style="height: 120px;">
            <p class="h1 featured-card__title">Dressings</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 112.6781857451404px;">
              <div class="featured-card__image-wrapper" style="padding-top:47.94816414686826%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/DB_420x.jpg?v=1625766462" alt="Dressings" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 112.6781857451404px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/gauzes" title="Browse our Gauzes collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Gauzes</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/GB_480x480.jpg?v=1625766274" alt="Gauzes" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/gauzes" title="Browse our Gauzes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 365px;">
          
          <div class="featured-card__header" style="height: 120px;">
            <p class="h1 featured-card__title">Gauzes</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 145.9764705882353px;">
              <div class="featured-card__image-wrapper" style="padding-top:62.11764705882352%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/GB_420x.jpg?v=1625766274" alt="Gauzes" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 145.9764705882353px;">
                
              </div>
            </div>
          
        </a>
      </div>
      

      <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/casts-sleeves-protectors" title="Browse our Casts / Sleeves Protectors collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Casts / Sleeves Protectors</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/SH_480x480.jpg?v=1625766651" alt="Casts / Sleeves Protectors" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/casts-sleeves-protectors" title="Browse our Casts / Sleeves Protectors collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 442px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Casts / Sleeves Protectors</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/SH_420x.jpg?v=1625766651" alt="Casts / Sleeves Protectors" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/kits" title="Browse our Kits- WOUND CARE collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Kits- WOUND CARE</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/WCK_480x480.jpg?v=1625766785" alt="Kits- WOUND CARE" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/kits" title="Browse our Kits- WOUND CARE collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 442px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Kits- WOUND CARE</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.60546875px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.640625%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/WCK_420x.jpg?v=1625766785" alt="Kits- WOUND CARE" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/WCK_640x.jpg?v=1625766785 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/WCK_720x.jpg?v=1625766785 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/WCK_900x.jpg?v=1625766785 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.60546875px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/sprays" title="Browse our Sprays collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Sprays</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/WS_480x480.jpg?v=1625767055" alt="Sprays" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/sprays" title="Browse our Sprays collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 442px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Sprays</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 146.42307692307693px;">
          <div class="featured-card__image-wrapper" style="padding-top:62.30769230769231%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/WS_420x.jpg?v=1625767055" alt="Sprays" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/WS_640x.jpg?v=1625767055 640w
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 146.42307692307693px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/tapes" title="Browse our Tapes -Wound care collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Tapes -Wound care</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/3M1530.5_480x480.jpg?v=1625757976" alt="Tapes -Wound care" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/tapes" title="Browse our Tapes -Wound care collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 442px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Tapes -Wound care</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/3M1530.5_420x.jpg?v=1625757976" alt="Tapes -Wound care" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
    </div>


    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/advanced-wound-care" title="Browse our Advanced Wound Care collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Advanced Wound Care</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/hospice-care-at-bedside11_23993482-536b-4cf3-830a-2f5c2c275424_480x480.jpg?v=1625762085" alt="Advanced Wound Care" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/advanced-wound-care" title="Browse our Advanced Wound Care collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Advanced Wound Care</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.66666666666666px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.66666666666666%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/hospice-care-at-bedside11_23993482-536b-4cf3-830a-2f5c2c275424_420x.jpg?v=1625762085" alt="Advanced Wound Care" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.66666666666666px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/irrigation-trays" title="Browse our Irrigation Trays collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Irrigation Trays</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/DYND20302H_PRI03_1024x1024_f3b7c603-df6b-4e6c-ac72-339c2bcf8a9c_480x480.jpg?v=1625761041" alt="Irrigation Trays" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/irrigation-trays" title="Browse our Irrigation Trays collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Irrigation Trays</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 177.62695312499997px;">
          <div class="featured-card__image-wrapper" style="padding-top:75.58593749999999%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/DYND20302H_PRI03_1024x1024_f3b7c603-df6b-4e6c-ac72-339c2bcf8a9c_420x.jpg?v=1625761041" alt="Irrigation Trays" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/DYND20302H_PRI03_1024x1024_f3b7c603-df6b-4e6c-ac72-339c2bcf8a9c_640x.jpg?v=1625761041 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/DYND20302H_PRI03_1024x1024_f3b7c603-df6b-4e6c-ac72-339c2bcf8a9c_720x.jpg?v=1625761041 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/DYND20302H_PRI03_1024x1024_f3b7c603-df6b-4e6c-ac72-339c2bcf8a9c_900x.jpg?v=1625761041 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 177.62695312499997px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        

          
        </div>
      
        
      </div>