<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>

    <!--      -->

    <div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
          
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/gloves" title="Browse our GLOVES collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">GLOVES</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/06_-_gloves_480x480.jpg?v=1613690523" alt="GLOVES" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/gloves" title="Browse our GLOVES collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 473px;">
          
          <div class="featured-card__header" style="height: 197px;">
            <p class="h1 featured-card__title">GLOVES</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 217.05454545454543px;">
              <div class="featured-card__image-wrapper" style="padding-top:92.36363636363636%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/06_-_gloves_420x.jpg?v=1613690523" alt="GLOVES" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 217.05454545454543px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/hand-hygine" title="Browse our Hand Hygine collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Hand Hygine</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/shutterstock_1516896074_1_480x480.jpg?v=1625760876" alt="Hand Hygine" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/hand-hygine" title="Browse our Hand Hygine collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 473px;">
          
          <div class="featured-card__header" style="height: 197px;">
            <p class="h1 featured-card__title">Hand Hygine</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 154.1742424242424px;">
              <div class="featured-card__image-wrapper" style="padding-top:65.6060606060606%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/shutterstock_1516896074_1_420x.jpg?v=1625760876" alt="Hand Hygine" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/shutterstock_1516896074_1_640x.jpg?v=1625760876 640w
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 154.1742424242424px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/kits-1" title="Browse our Kits - INFECTION PREVENTION collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Kits - INFECTION PREVENTION</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AVFK2-2_480x480.jpg?v=1625757680" alt="Kits - INFECTION PREVENTION" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/kits-1" title="Browse our Kits - INFECTION PREVENTION collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 473px;">
          
          <div class="featured-card__header" style="height: 197px;">
            <p class="h1 featured-card__title">Kits - INFECTION PREVENTION</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 184.08333333333331px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:127.6595745%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AVFK2-2_420x.jpg?v=1625757680" alt="Kits - INFECTION PREVENTION" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/AVFK2-2_640x.jpg?v=1625757680 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AVFK2-2_720x.jpg?v=1625757680 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/AVFK2-2_900x.jpg?v=1625757680 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/personal-protective-equipments" title="Browse our Personal Protective Equipments collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Personal Protective Equipments</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/300px-PPE_480x480.jpg?v=1625757489" alt="Personal Protective Equipments" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/personal-protective-equipments" title="Browse our Personal Protective Equipments collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 473px;">
          
          <div class="featured-card__header" style="height: 197px;">
            <p class="h1 featured-card__title">Personal Protective Equipments</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 188.0px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:125.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/300px-PPE_420x.jpg?v=1625757489" alt="Personal Protective Equipments" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>

      <div class="grid__item medium-up--one-quarter">
  

        <noscript>
          <a href="/collections/protective-apparel" title="Browse our Protective Apparel collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Protective Apparel</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/00002119-280x280_1350x900_37a0b6fb-ebc3-41d6-be6d-52bf27481f4e_480x480.jpg?v=1625747571" alt="Protective Apparel" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/protective-apparel" title="Browse our Protective Apparel collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 403px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Protective Apparel</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.66666666666666px;">
              <div class="featured-card__image-wrapper" style="padding-top:66.66666666666666%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/00002119-280x280_1350x900_37a0b6fb-ebc3-41d6-be6d-52bf27481f4e_420x.jpg?v=1625747571" alt="Protective Apparel" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/00002119-280x280_1350x900_37a0b6fb-ebc3-41d6-be6d-52bf27481f4e_640x.jpg?v=1625747571 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/00002119-280x280_1350x900_37a0b6fb-ebc3-41d6-be6d-52bf27481f4e_720x.jpg?v=1625747571 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/00002119-280x280_1350x900_37a0b6fb-ebc3-41d6-be6d-52bf27481f4e_900x.jpg?v=1625747571 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.66666666666666px;">
                
              </div>
            </div>
          
        </a>
      </div>

      
          
        </div>
      
        
      </div>