<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>

    <!--      -->

    <div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
          
      
          
            
            
      
            
          <div class="grid__item medium-up--one-quarter">
  

            <noscript>
              <a href="/collections/soaps-dispensors" title="Browse our Soaps &amp; Dispensors collection" class="featured-card">
                
                <div class="featured-card__header">
                  <p class="h1 featured-card__title">Soaps & Dispensors</p>
                  <span class="featured-card__action">View all</span>
                </div>
                
                  <div class="featured-card__image-wrapper">
                    
                      <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sd_480x480.jpg?v=1628272433" alt="Soaps &amp; Dispensors" class="featured-card__image">
                    
                  </div>
                
              </a>
            </noscript>
            
            <a href="/collections/soaps-dispensors" title="Browse our Soaps &amp; Dispensors collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
              
              <div class="featured-card__header" style="height: 156px;">
                <p class="h1 featured-card__title">Soaps &amp; Dispensors</p>
                <span class="featured-card__action">View all</span>
              </div>
              
                
                <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
                  <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                    
                      <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sd_420x.jpg?v=1628272433" alt="Soaps &amp; Dispensors" srcset="
                        
                        
                        " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                    
                  </div>
                </div>
              
            </a>
          </div>
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/cleansers" title="Browse our Cleansers collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Cleansers</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sk_480x480.jpg?v=1625777083" alt="Cleansers" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/cleansers" title="Browse our Cleansers collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Cleansers</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 157.15625px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:149.5327103%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sk_420x.jpg?v=1625777083" alt="Cleansers" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/skin-conditioners" title="Browse our Skin Conditioners collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Skin Conditioners</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cl_480x480.png?v=1625777256" alt="Skin Conditioners" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/skin-conditioners" title="Browse our Skin Conditioners collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Skin Conditioners</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 151.54829545454544px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:155.0660793%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cl_420x.png?v=1625777256" alt="Skin Conditioners" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/shampoo" title="Browse our Shampoo collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Shampoo</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/tena_480x480.jpg?v=1625777562" alt="Shampoo" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/shampoo" title="Browse our Shampoo collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
          
          <div class="featured-card__header" style="height: 158px;">
            <p class="h1 featured-card__title">Shampoo</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/tena_420x.jpg?v=1625777562" alt="Shampoo" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>

      <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/bodywash" title="Browse our Bodywash collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bodywash</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/default-tena-body-wash-shampoo-1_480x480.jpg?v=1625675147" alt="Bodywash" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bodywash" title="Browse our Bodywash collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 415px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Bodywash</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/default-tena-body-wash-shampoo-1_420x.jpg?v=1625675147" alt="Bodywash" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/default-tena-body-wash-shampoo-1_640x.jpg?v=1625675147 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/default-tena-body-wash-shampoo-1_720x.jpg?v=1625675147 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/protective-creams" title="Browse our Protective Creams collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Protective Creams</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cr_480x480.jpg?v=1625777700" alt="Protective Creams" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/protective-creams" title="Browse our Protective Creams collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 415px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Protective Creams</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 221.71539961013644px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:105.9917355%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cr_420x.jpg?v=1625777700" alt="Protective Creams" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/wash-creams" title="Browse our Wash Creams collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Wash Creams</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/wc_480x480.jpg?v=1625777787" alt="Wash Creams" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/wash-creams" title="Browse our Wash Creams collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 415px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Wash Creams</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/wc_420x.jpg?v=1625777787" alt="Wash Creams" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/wc_640x.jpg?v=1625777787 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/wc_720x.jpg?v=1625777787 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/wipes" title="Browse our Wipes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Wipes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/files/baby-wipes.jpg?v=1629834213" alt="Wipes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/wipes" title="Browse our Wipes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 415px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Wipes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 150.24333333333334px;">
          <div class="featured-card__image-wrapper" style="padding-top:63.93333333333333%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/files/baby-wipes.jpg?v=1629834213" alt="Wipes" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/files/baby-wipes.jpg?v=1629834213 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/files/baby-wipes.jpg?v=1629834213 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/files/baby-wipes.jpg?v=1629834213 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 150.24333333333334px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
    </div>

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/wash-cloths" title="Browse our Wash Cloths collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Wash Cloths</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/7472e5ac65fc1c3aceb216949e5d57f1a0-amazon-2.2x.rhorizontal.w600_480x480.jpg?v=1625674758" alt="Wash Cloths" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/wash-cloths" title="Browse our Wash Cloths collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Wash Cloths</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.66666666666666px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.66666666666666%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/7472e5ac65fc1c3aceb216949e5d57f1a0-amazon-2.2x.rhorizontal.w600_420x.jpg?v=1625674758" alt="Wash Cloths" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/7472e5ac65fc1c3aceb216949e5d57f1a0-amazon-2.2x.rhorizontal.w600_640x.jpg?v=1625674758 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/7472e5ac65fc1c3aceb216949e5d57f1a0-amazon-2.2x.rhorizontal.w600_720x.jpg?v=1625674758 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/7472e5ac65fc1c3aceb216949e5d57f1a0-amazon-2.2x.rhorizontal.w600_900x.jpg?v=1625674758 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.66666666666666px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/powders" title="Browse our Powders collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Powders</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sss_480x480.jpg?v=1625778154" alt="Powders" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/powders" title="Browse our Powders collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Powders</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sss_420x.jpg?v=1625778154" alt="Powders" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/sss_640x.jpg?v=1625778154 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sss_720x.jpg?v=1625778154 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sss_900x.jpg?v=1625778154 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/baby-oil" title="Browse our Baby Oil collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Baby Oil</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/js_480x480.jpg?v=1625778244" alt="Baby Oil" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/baby-oil" title="Browse our Baby Oil collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Baby Oil</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 102.11018711018711px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:230.1435407%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/js_420x.jpg?v=1625778244" alt="Baby Oil" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/bath-oils" title="Browse our Bath Oils collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bath Oils</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/254944a84b1f0462327845df2a5dc2f539-03-shower-oils.rsocial.w1200_480x480.jpg?v=1625676838" alt="Bath Oils" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bath-oils" title="Browse our Bath Oils collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Bath Oils</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 123.17916666666666px;">
          <div class="featured-card__image-wrapper" style="padding-top:52.41666666666667%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/254944a84b1f0462327845df2a5dc2f539-03-shower-oils.rsocial.w1200_420x.jpg?v=1625676838" alt="Bath Oils" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/254944a84b1f0462327845df2a5dc2f539-03-shower-oils.rsocial.w1200_640x.jpg?v=1625676838 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/254944a84b1f0462327845df2a5dc2f539-03-shower-oils.rsocial.w1200_720x.jpg?v=1625676838 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/254944a84b1f0462327845df2a5dc2f539-03-shower-oils.rsocial.w1200_900x.jpg?v=1625676838 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 123.17916666666666px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
    </div>
    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/lotions" title="Browse our Lotions collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Lotions</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bl_480x480.jpg?v=1625778417" alt="Lotions" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/lotions" title="Browse our Lotions collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Lotions</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 119.38px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:196.8503937%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bl_420x.jpg?v=1625778417" alt="Lotions" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/bl_640x.jpg?v=1625778417 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/bl_720x.jpg?v=1625778417 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/skin-relief" title="Browse our Skin Relief collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Skin Relief</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Article_Dry_Skin_480x480.png?v=1626450641" alt="Skin Relief" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/skin-relief" title="Browse our Skin Relief collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 434px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Skin Relief</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Article_Dry_Skin_420x.png?v=1626450641" alt="Skin Relief" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  

    
      
          
        </div>
      
        
      </div>