<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>


<div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/bath-towels" title="Browse our Bath Towels collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bath Towels</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/BT_480x480.png?v=1625765351" alt="Bath Towels" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bath-towels" title="Browse our Bath Towels collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 361px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Bath Towels</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 222.27436823104694px;">
          <div class="featured-card__image-wrapper" style="padding-top:94.58483754512635%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/BT_420x.png?v=1625765351" alt="Bath Towels" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/BT_640x.png?v=1625765351 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/BT_720x.png?v=1625765351 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/BT_900x.png?v=1625765351 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 222.27436823104694px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/bed-sheets" title="Browse our Bed Sheets collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bed Sheets</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/hospital_sheets-1000x1010_480x480.jpg?v=1625746250" alt="Bed Sheets" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bed-sheets" title="Browse our Bed Sheets collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 361px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Bed Sheets</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 232.67326732673268px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:101.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/hospital_sheets-1000x1010_420x.jpg?v=1625746250" alt="Bed Sheets" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/hospital_sheets-1000x1010_640x.jpg?v=1625746250 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/hospital_sheets-1000x1010_720x.jpg?v=1625746250 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/hospital_sheets-1000x1010_900x.jpg?v=1625746250 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/bed-spreads" title="Browse our Bed Spreads collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bed Spreads</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/81cfyBteAWL._AC_SL1500_480x480.jpg?v=1625746103" alt="Bed Spreads" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bed-spreads" title="Browse our Bed Spreads collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 361px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Bed Spreads</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 135.51666666666665px;">
          <div class="featured-card__image-wrapper" style="padding-top:57.66666666666667%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/81cfyBteAWL._AC_SL1500_420x.jpg?v=1625746103" alt="Bed Spreads" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/81cfyBteAWL._AC_SL1500_640x.jpg?v=1625746103 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/81cfyBteAWL._AC_SL1500_720x.jpg?v=1625746103 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/81cfyBteAWL._AC_SL1500_900x.jpg?v=1625746103 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 135.51666666666665px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/cubicle-curtains" title="Browse our Cubicle Curtains collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Cubicle Curtains</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/5c89ce859e5da6d99f0845d92dd14f4ff55710cc-1540x800_480x480.jpg?v=1625745921" alt="Cubicle Curtains" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/cubicle-curtains" title="Browse our Cubicle Curtains collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 361px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Cubicle Curtains</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 122.07792207792208px;">
          <div class="featured-card__image-wrapper" style="padding-top:51.94805194805194%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/5c89ce859e5da6d99f0845d92dd14f4ff55710cc-1540x800_420x.jpg?v=1625745921" alt="Cubicle Curtains" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/5c89ce859e5da6d99f0845d92dd14f4ff55710cc-1540x800_640x.jpg?v=1625745921 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/5c89ce859e5da6d99f0845d92dd14f4ff55710cc-1540x800_720x.jpg?v=1625745921 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/5c89ce859e5da6d99f0845d92dd14f4ff55710cc-1540x800_900x.jpg?v=1625745921 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 122.07792207792208px;">
            
          </div>
        </div>
      
    </a>
  </div>


  <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/laundry" title="Browse our Laundry collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Laundry</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sweaters_480x480.png?v=1625745807" alt="Laundry" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/laundry" title="Browse our Laundry collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Laundry</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 185.18px;">
      <div class="featured-card__image-wrapper" style="padding-top:78.79999999999998%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sweaters_420x.png?v=1625745807" alt="Laundry" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/sweaters_640x.png?v=1625745807 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sweaters_720x.png?v=1625745807 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sweaters_900x.png?v=1625745807 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 185.18px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/pillow-covers" title="Browse our Pillow Covers collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Pillow Covers</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CUS2-CT151_480x480.jpg?v=1625745612" alt="Pillow Covers" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/pillow-covers" title="Browse our Pillow Covers collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Pillow Covers</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/CUS2-CT151_420x.jpg?v=1625745612" alt="Pillow Covers" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/shower-curtains" title="Browse our Shower Curtains collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Shower Curtains</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sc_480x480.jpg?v=1625767686" alt="Shower Curtains" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/shower-curtains" title="Browse our Shower Curtains collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Shower Curtains</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 176.25px;">
      <div class="featured-card__image-wrapper" style="padding-top:75.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sc_420x.jpg?v=1625767686" alt="Shower Curtains" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/sc_640x.jpg?v=1625767686 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sc_720x.jpg?v=1625767686 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/sc_900x.jpg?v=1625767686 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 176.25px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/hamper-bags" title="Browse our Hamper Bags collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Hamper Bags</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/10070979-poppin-laundry-bag_1200_480x480.jpg?v=1625708704" alt="Hamper Bags" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/hamper-bags" title="Browse our Hamper Bags collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Hamper Bags</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/10070979-poppin-laundry-bag_1200_420x.jpg?v=1625708704" alt="Hamper Bags" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/10070979-poppin-laundry-bag_1200_640x.jpg?v=1625708704 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/10070979-poppin-laundry-bag_1200_720x.jpg?v=1625708704 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/10070979-poppin-laundry-bag_1200_900x.jpg?v=1625708704 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
</div>

<div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/under-pads" title="Browse our Under Pads collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Under Pads</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/51MfKdlOK7L._AC_SL1500_480x480.jpg?v=1625708609" alt="Under Pads" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/under-pads" title="Browse our Under Pads collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 359px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Under Pads</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 173.03858520900323px;">
      <div class="featured-card__image-wrapper" style="padding-top:73.63344051446946%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/51MfKdlOK7L._AC_SL1500_420x.jpg?v=1625708609" alt="Under Pads" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/51MfKdlOK7L._AC_SL1500_640x.jpg?v=1625708609 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/51MfKdlOK7L._AC_SL1500_720x.jpg?v=1625708609 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/51MfKdlOK7L._AC_SL1500_900x.jpg?v=1625708609 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 173.03858520900323px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    


  
      
    </div>
  
    
  </div>