<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>

    <div class="page-width" data-section-id="1625602736fcd3f7c2" data-section-type="collections-list">
  

  

        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">

<!--Mobility first row-->


    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/wheelchair" title="Browse our Wheelchair collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Wheelchair</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/wheelchair_b_-_silver_sport_2_480x480.jpg?v=1625521246" alt="Wheelchair" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/wheelchair" title="Browse our Wheelchair collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Wheelchair</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/wheelchair_b_-_silver_sport_2_420x.jpg?v=1625521246" alt="Wheelchair" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/wheelchair_b_-_silver_sport_2_640x.jpg?v=1625521246 640w
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/walkers" title="Browse our Walkers collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Walkers</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/walker_for_rent_toronto_and_gta_480x480.jpg?v=1625521130" alt="Walkers" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/walkers" title="Browse our Walkers collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Walkers</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/walker_for_rent_toronto_and_gta_420x.jpg?v=1625521130" alt="Walkers" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/walker_for_rent_toronto_and_gta_640x.jpg?v=1625521130 640w
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/transport" title="Browse our Transport Chair collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Transport Chair</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/super-light-folding-transport-chair-with-carry-bag-and-flip-back-arms_480x480.jpg?v=1625520982" alt="Transport Chair" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/transport" title="Browse our Transport Chair collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Transport Chair</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/super-light-folding-transport-chair-with-carry-bag-and-flip-back-arms_420x.jpg?v=1625520982" alt="Transport Chair" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/super-light-folding-transport-chair-with-carry-bag-and-flip-back-arms_640x.jpg?v=1625520982 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/super-light-folding-transport-chair-with-carry-bag-and-flip-back-arms_720x.jpg?v=1625520982 720w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/super-light-folding-transport-chair-with-carry-bag-and-flip-back-arms_900x.jpg?v=1625520982 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/rolators" title="Browse our Rolators collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Rolators</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/download_480x480.jpg?v=1625521045" alt="Rolators" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/rolators" title="Browse our Rolators collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 401px;">
  
  <div class="featured-card__header" style="height: 156px;">
    <p class="h1 featured-card__title">Rolators</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 225px; max-height: 225px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/download_420x.jpg?v=1625521045" alt="Rolators" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 225px;">
        
      </div>
    </div>
  
</a>

</div>

<!--Mobility Second row-->


    

    
      
      

      
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/canes" title="Browse our Canes collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Canes</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Various-Walking-Canes_480x480.jpg?v=1625520647" alt="Canes" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/canes" title="Browse our Canes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 419px;">
  
  <div class="featured-card__header" style="height: 157px;">
    <p class="h1 featured-card__title">Canes</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Various-Walking-Canes_420x.jpg?v=1625520647" alt="Canes" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/crutches" title="Browse our Crutches collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Crutches</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/crutches_805x600_164a399e-b12f-47e9-bb92-27ac98d52116_480x480.jpg?v=1625520482" alt="Crutches" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/crutches" title="Browse our Crutches collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 419px;">
  
  <div class="featured-card__header" style="height: 157px;">
    <p class="h1 featured-card__title">Crutches</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 175.1552795031056px;">
      <div class="featured-card__image-wrapper" style="padding-top:74.53416149068325%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/crutches_805x600_164a399e-b12f-47e9-bb92-27ac98d52116_420x.jpg?v=1625520482" alt="Crutches" srcset="
            //cdn.shopify.com/s/files/1/0464/1112/0802/collections/crutches_805x600_164a399e-b12f-47e9-bb92-27ac98d52116_640x.jpg?v=1625520482 640w
            ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/crutches_805x600_164a399e-b12f-47e9-bb92-27ac98d52116_720x.jpg?v=1625520482 720w
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 175.1552795031056px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/powered-mobility" title="Browse our Powered Mobility collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Powered Mobility</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/VENTURA418FS-1_large_2854afe4-d0d2-43a7-b80f-02b5c8473f95_480x480.jpg?v=1625518839" alt="Powered Mobility" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/powered-mobility" title="Browse our Powered Mobility collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 419px;">
  
  <div class="featured-card__header" style="height: 157px;">
    <p class="h1 featured-card__title">Powered Mobility</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 217.375px; max-height: 235px;">
      <div class="featured-card__image-wrapper" style="padding-top:108.1081081%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/VENTURA418FS-1_large_2854afe4-d0d2-43a7-b80f-02b5c8473f95_420x.jpg?v=1625518839" alt="Powered Mobility" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
        
      </div>
    </div>
  
</a>
</div>

  
    
    

    
    <div class="grid__item medium-up--one-quarter">


<noscript>
  <a href="/collections/pediatric-mobility" title="Browse our Pediatric Mobility collection" class="featured-card">
    
    <div class="featured-card__header">
      <p class="h1 featured-card__title">Pediatric Mobility</p>
      <span class="featured-card__action">View all</span>
    </div>
    
      <div class="featured-card__image-wrapper">
        
          <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/pediatric-walkers_1_480x480.jpg?v=1625520812" alt="Pediatric Mobility" class="featured-card__image">
        
      </div>
    
  </a>
</noscript>

<a href="/collections/pediatric-mobility" title="Browse our Pediatric Mobility collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 419px;">
  
  <div class="featured-card__header" style="height: 157px;">
    <p class="h1 featured-card__title">Pediatric Mobility</p>
    <span class="featured-card__action">View all</span>
  </div>
  
    
    <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
      <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
        
          <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/pediatric-walkers_1_420x.jpg?v=1625520812" alt="Pediatric Mobility" srcset="
            
            
            " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
        
      </div>
    </div>
  
</a>




  </div>    

  <div class="grid__item medium-up--one-quarter">
  

    <noscript>
      <a href="/collections/bariatric-mobility-1" title="Browse our Bariatric Mobility collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bariatric Mobility</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/325943_480x480.jpg?v=1626105213" alt="Bariatric Mobility" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bariatric-mobility-1" title="Browse our Bariatric Mobility collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 408px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Bariatric Mobility</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/325943_420x.jpg?v=1626105213" alt="Bariatric Mobility" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>


</div>




</div>
      
