<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>



<div id="shopify-section-1626669006ec9a5903" class="shopify-section index-section"><div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/massagers-foot-calf-massagers" title="Browse our Foot &amp; Calf Massagers collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Foot & Calf Massagers</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/9ad3819a38d2d3132c6cd33bc9c6e116_480x480.jpg?v=1625672736" alt="Foot &amp; Calf Massagers" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/massagers-foot-calf-massagers" title="Browse our Foot &amp; Calf Massagers collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 473px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Foot &amp; Calf Massagers</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/9ad3819a38d2d3132c6cd33bc9c6e116_420x.jpg?v=1625672736" alt="Foot &amp; Calf Massagers" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/9ad3819a38d2d3132c6cd33bc9c6e116_640x.jpg?v=1625672736 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/9ad3819a38d2d3132c6cd33bc9c6e116_720x.jpg?v=1625672736 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/9ad3819a38d2d3132c6cd33bc9c6e116_900x.jpg?v=1625672736 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/massagers-back-neck-massagers" title="Browse our Back &amp; Neck Massagers collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Back & Neck Massagers</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/71PGkxLq-DL._AC_SL1500_480x480.jpg?v=1625672666" alt="Back &amp; Neck Massagers" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/massagers-back-neck-massagers" title="Browse our Back &amp; Neck Massagers collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 473px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Back &amp; Neck Massagers</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 192.23px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:122.2493888%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/71PGkxLq-DL._AC_SL1500_420x.jpg?v=1625672666" alt="Back &amp; Neck Massagers" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/71PGkxLq-DL._AC_SL1500_640x.jpg?v=1625672666 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/71PGkxLq-DL._AC_SL1500_720x.jpg?v=1625672666 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/71PGkxLq-DL._AC_SL1500_900x.jpg?v=1625672666 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/massagers-handheld-massagers" title="Browse our Handheld Massagers collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Handheld Massagers</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/57852d0d80da80c784d58a62e6513ffb7f-Zyllion-Shiatsu-Back-Neck-Massager.2x.h473.w710_480x480.jpg?v=1625672570" alt="Handheld Massagers" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/massagers-handheld-massagers" title="Browse our Handheld Massagers collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 473px;">
      
      <div class="featured-card__header" style="height: 197px;">
        <p class="h1 featured-card__title">Handheld Massagers</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 156.39084507042253px;">
          <div class="featured-card__image-wrapper" style="padding-top:66.54929577464789%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/57852d0d80da80c784d58a62e6513ffb7f-Zyllion-Shiatsu-Back-Neck-Massager.2x.h473.w710_420x.jpg?v=1625672570" alt="Handheld Massagers" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/57852d0d80da80c784d58a62e6513ffb7f-Zyllion-Shiatsu-Back-Neck-Massager.2x.h473.w710_640x.jpg?v=1625672570 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/57852d0d80da80c784d58a62e6513ffb7f-Zyllion-Shiatsu-Back-Neck-Massager.2x.h473.w710_720x.jpg?v=1625672570 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/57852d0d80da80c784d58a62e6513ffb7f-Zyllion-Shiatsu-Back-Neck-Massager.2x.h473.w710_900x.jpg?v=1625672570 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 156.39084507042253px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
    
  
    
  </div>
  
  
  
  
  </div>