<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>

    <div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
          
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/beds" title="Browse our BEDS collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">BEDS</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Hospital_bed_480x480.jpg?v=1613760018" alt="BEDS" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/beds" title="Browse our BEDS collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 321px;">
          
          <div class="featured-card__header" style="height: 118px;">
            <p class="h1 featured-card__title">BEDS</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 216.34920634920633px;">
              <div class="featured-card__image-wrapper" style="padding-top:92.06349206349206%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Hospital_bed_420x.jpg?v=1613760018" alt="BEDS" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/Hospital_bed_640x.jpg?v=1613760018 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Hospital_bed_720x.jpg?v=1613760018 720w
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 216.34920634920633px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/recliners" title="Browse our Recliners collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Recliners</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/05957062_CH2_1400x_902f98bc-9242-43b7-b938-58beedfb6b6d_480x480.jpg?v=1625749477" alt="Recliners" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/recliners" title="Browse our Recliners collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 321px;">
          
          <div class="featured-card__header" style="height: 118px;">
            <p class="h1 featured-card__title">Recliners</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 217.54285714285717px;">
              <div class="featured-card__image-wrapper" style="padding-top:92.57142857142858%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/05957062_CH2_1400x_902f98bc-9242-43b7-b938-58beedfb6b6d_420x.jpg?v=1625749477" alt="Recliners" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/05957062_CH2_1400x_902f98bc-9242-43b7-b938-58beedfb6b6d_640x.jpg?v=1625749477 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/05957062_CH2_1400x_902f98bc-9242-43b7-b938-58beedfb6b6d_720x.jpg?v=1625749477 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/05957062_CH2_1400x_902f98bc-9242-43b7-b938-58beedfb6b6d_900x.jpg?v=1625749477 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 217.54285714285717px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/tables" title="Browse our Tables collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Tables</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cat_prod_thumb_solid_obt_0_480x480.jpg?v=1625749370" alt="Tables" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/tables" title="Browse our Tables collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 321px;">
          
          <div class="featured-card__header" style="height: 118px;">
            <p class="h1 featured-card__title">Tables</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 201.16px;">
              <div class="featured-card__image-wrapper" style="padding-top:85.6%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cat_prod_thumb_solid_obt_0_420x.jpg?v=1625749370" alt="Tables" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 201.16px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/chairs" title="Browse our Chairs collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Chairs</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/4_large_ccf48aba-75be-44ef-b442-76a3c99f7dbb_480x480.jpg?v=1625749253" alt="Chairs" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/chairs" title="Browse our Chairs collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 321px;">
          
          <div class="featured-card__header" style="height: 118px;">
            <p class="h1 featured-card__title">Chairs</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
              <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/4_large_ccf48aba-75be-44ef-b442-76a3c99f7dbb_420x.jpg?v=1625749253" alt="Chairs" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
      <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/lounge-chairs" title="Browse our Lounge Chairs collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Lounge Chairs</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/2_large_636216cb-d6c3-4d26-8e04-d38e5b18a3df_480x480.jpg?v=1625749183" alt="Lounge Chairs" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/lounge-chairs" title="Browse our Lounge Chairs collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 398px;">
      
      <div class="featured-card__header" style="height: 195px;">
        <p class="h1 featured-card__title">Lounge Chairs</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/2_large_636216cb-d6c3-4d26-8e04-d38e5b18a3df_420x.jpg?v=1625749183" alt="Lounge Chairs" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/lighting" title="Browse our Lighting collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Lighting</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/types-of-lighting_480x480.jpg?v=1625749097" alt="Lighting" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/lighting" title="Browse our Lighting collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 398px;">
      
      <div class="featured-card__header" style="height: 195px;">
        <p class="h1 featured-card__title">Lighting</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 109.66666666666666px;">
          <div class="featured-card__image-wrapper" style="padding-top:46.66666666666666%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/types-of-lighting_420x.jpg?v=1625749097" alt="Lighting" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/types-of-lighting_640x.jpg?v=1625749097 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/types-of-lighting_720x.jpg?v=1625749097 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 109.66666666666666px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/casegoods" title="Browse our Casegoods collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Casegoods</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cat_prod_thumb_lucas_480x480.jpg?v=1625748904" alt="Casegoods" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/casegoods" title="Browse our Casegoods collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 398px;">
      
      <div class="featured-card__header" style="height: 195px;">
        <p class="h1 featured-card__title">Casegoods</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 201.16px;">
          <div class="featured-card__image-wrapper" style="padding-top:85.6%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/cat_prod_thumb_lucas_420x.jpg?v=1625748904" alt="Casegoods" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 201.16px;">
            
          </div>
        </div>
      
    </a>
  </div>



          
        </div>
      
        
      </div>