

{% comment %}
 Featuring collections on a page using a menu
 https://shopify-dev.com/tutorials/feature-a-subset-of-collections-on-a-page
{% endcomment %}

<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
 </div>
  
  <!--The end of the title -->
  

  <div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/drop-arm-commodes" title="Browse our Drop Arm Commodes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Drop Arm Commodes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/258304_480x480.jpg?v=1625600558" alt="Drop Arm Commodes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/drop-arm-commodes" title="Browse our Drop Arm Commodes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 372px;">
      
      <div class="featured-card__header" style="height: 194px;">
        <p class="h1 featured-card__title">Drop Arm Commodes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/258304_420x.jpg?v=1625600558" alt="Drop Arm Commodes" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/258304_640x.jpg?v=1625600558 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/258304_720x.jpg?v=1625600558 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/258304_900x.jpg?v=1625600558 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/bariatric-commodes" title="Browse our Bariatric Commodes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Bariatric Commodes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/0001679_bariatric-commode-heavy-duty-drop-arm-1-cs_480x480.jpg?v=1625600686" alt="Bariatric Commodes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/bariatric-commodes" title="Browse our Bariatric Commodes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 372px;">
      
      <div class="featured-card__header" style="height: 194px;">
        <p class="h1 featured-card__title">Bariatric Commodes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 189.65234375px;">
          <div class="featured-card__image-wrapper" style="padding-top:80.703125%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/0001679_bariatric-commode-heavy-duty-drop-arm-1-cs_420x.jpg?v=1625600686" alt="Bariatric Commodes" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/0001679_bariatric-commode-heavy-duty-drop-arm-1-cs_640x.jpg?v=1625600686 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/0001679_bariatric-commode-heavy-duty-drop-arm-1-cs_720x.jpg?v=1625600686 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/0001679_bariatric-commode-heavy-duty-drop-arm-1-cs_900x.jpg?v=1625600686 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 189.65234375px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/shower-commodes" title="Browse our Shower Commodes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Shower Commodes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/170770_480x480.jpg?v=1630594508" alt="Shower Commodes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/shower-commodes" title="Browse our Shower Commodes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 372px;">
      
      <div class="featured-card__header" style="height: 194px;">
        <p class="h1 featured-card__title">Shower Commodes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/170770_420x.jpg?v=1630594508" alt="Shower Commodes" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/commode-liners" title="Browse our Commode Liners collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Commode Liners</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/MDS89664LINER_HRE02_480x480.jpg?v=1630594637" alt="Commode Liners" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/commode-liners" title="Browse our Commode Liners collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 372px;">
      
      <div class="featured-card__header" style="height: 194px;">
        <p class="h1 featured-card__title">Commode Liners</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 202.1505376344086px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:116.25%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/MDS89664LINER_HRE02_420x.jpg?v=1630594637" alt="Commode Liners" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/MDS89664LINER_HRE02_640x.jpg?v=1630594637 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/MDS89664LINER_HRE02_720x.jpg?v=1630594637 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/MDS89664LINER_HRE02_900x.jpg?v=1630594637 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>

  <div class="grid__item medium-up--one-quarter">
  

    <noscript>
      <a href="/collections/wheeled-commodes" title="Browse our Wheeled Commodes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Wheeled Commodes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/258267_480x480.jpg?v=1630594697" alt="Wheeled Commodes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/wheeled-commodes" title="Browse our Wheeled Commodes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 406px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Wheeled Commodes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/258267_420x.jpg?v=1630594697" alt="Wheeled Commodes" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
    </div>
  
    
  </div>
       