
<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>


<div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/exerciser" title="Browse our Exerciser Rehab collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Exerciser Rehab</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/REHAB_480x480.jpg?v=1625787028" alt="Exerciser Rehab" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/exerciser" title="Browse our Exerciser Rehab collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 431px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Exerciser Rehab</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/REHAB_420x.jpg?v=1625787028" alt="Exerciser Rehab" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/neck-traction" title="Browse our Neck Traction collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Neck Traction</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/NT_480x480.jpg?v=1625787112" alt="Neck Traction" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/neck-traction" title="Browse our Neck Traction collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 431px;">
      
      <div class="featured-card__header" style="height: 158px;">
        <p class="h1 featured-card__title">Neck Traction</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 206.96265938069217px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:113.5470527%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/NT_420x.jpg?v=1625787112" alt="Neck Traction" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/NT_640x.jpg?v=1625787112 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/NT_720x.jpg?v=1625787112 720w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/NT_900x.jpg?v=1625787112 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
      
    </div>
  
    
  </div>