

<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>




<div id="shopify-section-1626669006ec9a5903" class="shopify-section index-section"><div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

    <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
      
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/diapers" title="Browse our Diapers Babay collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Diapers Babay</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/81Q9Nlb6s6L._SLDPMOBCAROUSELAUTOCROP288221_MCnd_AC_SR462_693_480x480.jpg?v=1626450876" alt="Diapers Babay" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/diapers" title="Browse our Diapers Babay collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Diapers Babay</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 156.66666666666666px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:150.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/81Q9Nlb6s6L._SLDPMOBCAROUSELAUTOCROP288221_MCnd_AC_SR462_693_420x.jpg?v=1626450876" alt="Diapers Babay" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/pull-ups" title="Browse our Pull Ups collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Pull Ups</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/difference-between-boy-and-girl-pull-ups_480x480.png?v=1625696898" alt="Pull Ups" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/pull-ups" title="Browse our Pull Ups collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Pull Ups</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 131.990231990232px;">
          <div class="featured-card__image-wrapper" style="padding-top:56.16605616605617%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/difference-between-boy-and-girl-pull-ups_420x.png?v=1625696898" alt="Pull Ups" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/difference-between-boy-and-girl-pull-ups_640x.png?v=1625696898 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/difference-between-boy-and-girl-pull-ups_720x.png?v=1625696898 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 131.990231990232px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/wipes-1" title="Browse our Wipes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Wipes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/RPBWU80__32_850x_8196e6ec-5954-45fd-96c5-c3e0ddebbd25_480x480.jpg?v=1625696757" alt="Wipes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/wipes-1" title="Browse our Wipes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 432px;">
      
      <div class="featured-card__header" style="height: 156px;">
        <p class="h1 featured-card__title">Wipes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/RPBWU80__32_850x_8196e6ec-5954-45fd-96c5-c3e0ddebbd25_420x.jpg?v=1625696757" alt="Wipes" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/RPBWU80__32_850x_8196e6ec-5954-45fd-96c5-c3e0ddebbd25_640x.jpg?v=1625696757 640w
                ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/RPBWU80__32_850x_8196e6ec-5954-45fd-96c5-c3e0ddebbd25_720x.jpg?v=1625696757 720w
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
  
      

  
    
  </div>
  
  
  
  
  </div>