<!--The centered alignt-text-->
<div class="page-width">
    <!--aligning the text to the center-->
    <h1 style="text-align:center" class="small--text-center">{{ page.title }}</h1>
    
    <!--making three newline-->
    <br>
    <br>
    <br>
  
    </div>


    <div class="page-width" data-section-id="1626669006ec9a5903" data-section-type="collections-list">
  

  

        <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
          
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/blood-pressure-monitors" title="Browse our Blood Pressure Monitors collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Blood Pressure Monitors</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/81eIfnfHiIL._AC_SX425_480x480.jpg?v=1625748801" alt="Blood Pressure Monitors" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/blood-pressure-monitors" title="Browse our Blood Pressure Monitors collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 429px;">
          
          <div class="featured-card__header" style="height: 194px;">
            <p class="h1 featured-card__title">Blood Pressure Monitors</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 196.9921104536489px; max-height: 235px;">
              <div class="featured-card__image-wrapper" style="padding-top:119.2941176%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/81eIfnfHiIL._AC_SX425_420x.jpg?v=1625748801" alt="Blood Pressure Monitors" srcset="
                    
                    
                    " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/blood-pressure-cuffs" title="Browse our Blood Pressure Cuffs collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Blood Pressure Cuffs</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Blood-Pressure-Cuffs-Market_480x480.jpg?v=1625748712" alt="Blood Pressure Cuffs" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/blood-pressure-cuffs" title="Browse our Blood Pressure Cuffs collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 429px;">
          
          <div class="featured-card__header" style="height: 194px;">
            <p class="h1 featured-card__title">Blood Pressure Cuffs</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 112.8px;">
              <div class="featured-card__image-wrapper" style="padding-top:48.0%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Blood-Pressure-Cuffs-Market_420x.jpg?v=1625748712" alt="Blood Pressure Cuffs" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/Blood-Pressure-Cuffs-Market_640x.jpg?v=1625748712 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Blood-Pressure-Cuffs-Market_720x.jpg?v=1625748712 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/Blood-Pressure-Cuffs-Market_900x.jpg?v=1625748712 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 112.8px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/gluco-monitors" title="Browse our Gluco Monitors collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Gluco Monitors</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ImageForArticle_30_2_480x480.jpg?v=1625748620" alt="Gluco Monitors" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/gluco-monitors" title="Browse our Gluco Monitors collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 429px;">
          
          <div class="featured-card__header" style="height: 194px;">
            <p class="h1 featured-card__title">Gluco Monitors</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 138.27894736842106px;">
              <div class="featured-card__image-wrapper" style="padding-top:58.8421052631579%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ImageForArticle_30_2_420x.jpg?v=1625748620" alt="Gluco Monitors" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/ImageForArticle_30_2_640x.jpg?v=1625748620 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ImageForArticle_30_2_720x.jpg?v=1625748620 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/ImageForArticle_30_2_900x.jpg?v=1625748620 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 138.27894736842106px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          
            
            
      
            
            <div class="grid__item medium-up--one-quarter">
        
      
        <noscript>
          <a href="/collections/oximeters" title="Browse our Oximeters collection" class="featured-card">
            
            <div class="featured-card__header">
              <p class="h1 featured-card__title">Oximeters</p>
              <span class="featured-card__action">View all</span>
            </div>
            
              <div class="featured-card__image-wrapper">
                
                  <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61QJAzVmRAL._AC_SL1500_480x480.jpg?v=1625748472" alt="Oximeters" class="featured-card__image">
                
              </div>
            
          </a>
        </noscript>
        
        <a href="/collections/oximeters" title="Browse our Oximeters collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 429px;">
          
          <div class="featured-card__header" style="height: 194px;">
            <p class="h1 featured-card__title">Oximeters</p>
            <span class="featured-card__action">View all</span>
          </div>
          
            
            <div class="featured-card__image-container" style="max-width: 235px; max-height: 232.78152393796358px;">
              <div class="featured-card__image-wrapper" style="padding-top:99.055967633176%;">
                
                  <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61QJAzVmRAL._AC_SL1500_420x.jpg?v=1625748472" alt="Oximeters" srcset="
                    //cdn.shopify.com/s/files/1/0464/1112/0802/collections/61QJAzVmRAL._AC_SL1500_640x.jpg?v=1625748472 640w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61QJAzVmRAL._AC_SL1500_720x.jpg?v=1625748472 720w
                    ,//cdn.shopify.com/s/files/1/0464/1112/0802/collections/61QJAzVmRAL._AC_SL1500_900x.jpg?v=1625748472 900w" sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 232.78152393796358px;">
                
              </div>
            </div>
          
        </a>
      </div>
      
          

      <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
    

    
      
      

      
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/thermometers" title="Browse our Thermometers collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Thermometers</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/PW-2015-06-10-Johnston-thermometer_480x480.jpg?v=1625748401" alt="Thermometers" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/thermometers" title="Browse our Thermometers collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 370px;">
      
      <div class="featured-card__header" style="height: 117px;">
        <p class="h1 featured-card__title">Thermometers</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 164.1642857142857px;">
          <div class="featured-card__image-wrapper" style="padding-top:69.85714285714286%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/PW-2015-06-10-Johnston-thermometer_420x.jpg?v=1625748401" alt="Thermometers" srcset="
                //cdn.shopify.com/s/files/1/0464/1112/0802/collections/PW-2015-06-10-Johnston-thermometer_640x.jpg?v=1625748401 640w
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 164.1642857142857px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/stethoscopes" title="Browse our Stethoscopes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Stethoscopes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/product_tbn_PG65D8Ni3p_480x480.jpg?v=1625748314" alt="Stethoscopes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/stethoscopes" title="Browse our Stethoscopes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 370px;">
      
      <div class="featured-card__header" style="height: 117px;">
        <p class="h1 featured-card__title">Stethoscopes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 179.94285714285715px; max-height: 235px;">
          <div class="featured-card__image-wrapper" style="padding-top:130.5970149%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/product_tbn_PG65D8Ni3p_420x.jpg?v=1625748314" alt="Stethoscopes" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/scales" title="Browse our Scales collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Scales</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/unnamed_480x480.jpg?v=1625748221" alt="Scales" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/scales" title="Browse our Scales collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 370px;">
      
      <div class="featured-card__header" style="height: 117px;">
        <p class="h1 featured-card__title">Scales</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 235.0px;">
          <div class="featured-card__image-wrapper" style="padding-top:100.0%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/unnamed_420x.jpg?v=1625748221" alt="Scales" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 235.0px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
        
        
  
        
        <div class="grid__item medium-up--one-quarter">
    
  
    <noscript>
      <a href="/collections/otoscopes" title="Browse our Otoscopes collection" class="featured-card">
        
        <div class="featured-card__header">
          <p class="h1 featured-card__title">Otoscopes</p>
          <span class="featured-card__action">View all</span>
        </div>
        
          <div class="featured-card__image-wrapper">
            
              <img src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/41VgQImMrFL._SX425_480x480.jpg?v=1625748001" alt="Otoscopes" class="featured-card__image">
            
          </div>
        
      </a>
    </noscript>
    
    <a href="/collections/otoscopes" title="Browse our Otoscopes collection" class="featured-card featured-card--contain" data-row-number="1" style="height: 370px;">
      
      <div class="featured-card__header" style="height: 117px;">
        <p class="h1 featured-card__title">Otoscopes</p>
        <span class="featured-card__action">View all</span>
      </div>
      
        
        <div class="featured-card__image-container" style="max-width: 235px; max-height: 169.20000000000002px;">
          <div class="featured-card__image-wrapper" style="padding-top:72.00000000000001%;">
            
              <img class="featured-card__image lazyloaded" src="//cdn.shopify.com/s/files/1/0464/1112/0802/collections/41VgQImMrFL._SX425_420x.jpg?v=1625748001" alt="Otoscopes" srcset="
                
                
                " sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw" style="max-height: 169.20000000000002px;">
            
          </div>
        </div>
      
    </a>
  </div>
  
      
    </div>
      

      
        </div>
      
        
      </div>

